$primary-color: #0070f3;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 800px;
  padding: 5rem 0;
}
.title a {
  color: $primary-color;
  text-decoration: $primary-color;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  text-align: center;
  font-size: 4rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.posts {
  list-style: none;
  padding: 0;
  margin: 5em 0;
  & > li {
    margin-bottom: 3em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.postsContent {
  border-top: 1px solid #707070;
  font-size: 23px;
  line-height: 43px;
  margin-bottom: 0.4em;
  word-break: break-all;
  padding: 0.5rem;
  color: #fff;
  background-color: #242526;
}
.postsMetaDate {
  display: flex;
  align-items: center;
  font-weight: 550;
  color: #000000;
  font-size: 1rem;
  line-height: 33px;
  margin-bottom: 0.4em;
  margin-right: 1em;

  svg {
    font-size: 0.85em;
    margin-right: 0.3em;
  }
}
.postsMetaTime {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 33px;
  margin-bottom: 0.4em;
  margin-right: 0.25em;
  svg {
    font-size: 0.85em;
    margin-right: 0.3em;
  }
}
.postsMeta {
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  list-style: none;
  // margin-left: 10px;

  padding: 3px 0px 0px 10px;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.postName {
  color: #0070f3;
  // border: 1px solid #707070;
  padding: 3px;
  border-radius: 4px;
}
.PostitemMess {
  border: 1px solid #707070;
  // padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}
